#mainPage {
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
}
#head {
    padding: 5px;

}
#body {
    padding: 5px;
}
#footer {
    padding: 5px;
}
.welcome {
    align-content: center;
}